.hv-100{
    height: 100vh !important;
}

.red-text
{
    color: red;
}

.green-text
{
    color:  green;
}

.slider{
    background: url(../img/banner.jpg) no-repeat center center fixed;
    height: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-login{
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

.img-login{
    width: 50%;
}

.img-login img{
    width: 100%;
    height: auto;
}

.form-login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-login{
    width: 83%;
}